.btn-custom-block {
    cursor: pointer;
    display: inline-block;
    min-width: 60px;
}
.btn-custom-block span {
    padding: 1px;
}

.datepicker {
    z-index: 1050 !important;
}

ul.form-inline {
    padding-left: 5px;
}

li.checkbox-inline label {
    font-weight: normal;
    margin-bottom: 0px;
}

li.checkbox-inline {
    margin-left: 10px !important;
    width: 30%;
}