<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="acspSession">
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:postgresql://localhost:5432/acsp
		</property>
		<property name="hibernate.connection.username">
			postgres
		</property>
		<property name="hibernate.connection.password">
			root
		</property>
		<mapping class="br.com.acsp.curso.domain.clazz.Pessoa"/>
		<mapping class="br.com.acsp.curso.domain.clazz.Aluno"/>
		<mapping class="br.com.acsp.curso.domain.clazz.Instrutor"/>
		<mapping class="br.com.acsp.curso.domain.clazz.Socio"/>
		<mapping class="br.com.acsp.curso.domain.clazz.Atendente"/>
		<mapping class="br.com.acsp.curso.domain.clazz.Aeronave"/>
	</session-factory>
</hibernate-configuration> 